/* Reset de márgenes y relleno */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo del header flotante */
.header {
  width: 80%;  /* Ajusta el ancho según prefieras */
  max-width: 700px; /* Limita el tamaño en pantallas grandes */
  position: fixed; 
  top: 20px;  /* Margen desde la parte superior */
  left: 50%;  /* Centra horizontalmente */
  transform: translateX(-50%); /* Ajuste fino para centrar */
  background-color: rgb(36, 54, 66);
  color: white;
  padding: 15px 20px;
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.4); /* Sombra para efecto flotante */
  z-index: 1000;
}

/* Logo y título */
.logo {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

/* Navegación */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav li {
  margin: 5px 15px;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: color 0.3s;
}

.nav a:hover {
  color: rgb(98, 149, 132);
}

/* Ajusta el margen superior del body para que el contenido no se solape con el header */
body {
  margin-top: 100px;
}

/* Ajuste de sección 'sobre mí' */
#sobre-mi {
  margin-top: 100px;
}
